body {
    background-color: rgb(255, 255, 165);
    background-image: url(./img/img\ 3.jpg);
}

header{
    background-color: rgba(198, 235, 198, 0.573);
    border-style:outset;
    padding: 2px;
    margin-top: 2px;
    height: 50px;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
